<!DOCTYPE html>
<html>
  <head>
    <title>WordFor Viz</title>
    <link type="text/css" rel="stylesheet" href="http://bootswatch.com/cerulean/bootstrap.min.css"></link>
    <style>
      .bar {
        fill: steelblue;
      }

      .legend line {
        stroke: #000;
        shape-rendering: crispEdges;
      }

      .axis path,
      .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }

      .x.axis path {
        display: none;
      }

      .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
      }

      svg {
        margin: 70px;
      }
    </style>
  </head>
  <body>
    <div id="normalized-stacked-bar">
    </div>
    <div id="line-series"></div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
